<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        
        <div class="contents">
            <h2>
                Overview
            </h2>
            <p>
                A tennis based sports website wants to enable users to find various information about past tennis singles tournaments. Every year the organizers of the Z.R. Tournament offer 8 of the highest ranking players a place in their tournament. If some players turn down the offer, the organizers offer the next player who has the most points. So, there are always 8 players in this tournament. Users should be able to find who sponsored a given tournament, who played in the tournament, and who was in/won each match. Users should also be able to find who coached each of the players.
            </p>
        </div>
        

    </body>
</html>