<!DOCTYPE html>>
<html lang="en">
    <head>
        <title>Offerings View Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Offerings View
            </h2>
            
            
            <div>
                <table id="offerings-table">
                    <tr>
                        <th>ID</th>
                        <th>Offering</th>
                        
                    </tr>

                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.offering_id}}></tr>
                            <td>{{this.offering_id}}</td>
                            <td>{{this.stuff}}</td>
                        <\tr>

                        {{/each}}
                    <\tbody>

                    <tr>
                        <td>1</td>
                        <td>Money</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Balls</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Socks</td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Volunteers</td>
                    </tr>
                </table>
            </div>
            
        </div>


    </body>
</html>
