<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Offerings Edit Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Offerings Edit
            </h2>
            <div class="create">
                <form id="add-offering-form" method="POST" action="/add-offering-form">
                    <h3>Create New Data</h3>
                    <div class="u_input">
                        <label for="input-stuff">Offering</label>
                        <input name="input-stuff" id="input-stuff">
                        <p>*require</p>
                    </div>
                    
                    <input type="submit">
                    <!--<button>Create Data</button>-->
                </form>
            </div>

            <div class="edit">
                <form>
                    <h3>Edit Existing Data</h3>
                    <div class="u_input">
                        <label>ID(data you edit)</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Offering</label>
                        <input>
                        <p>*require</p>
                    </div>
                    
                    
                    <button>Edit Data</button>
                </form>
            </div>
            
            
            <div>
                <table id="offerings-table">
                    <thead>
                        <tr>
                            
                            <th>ID</th>
                            <th>Offering</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>

                        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                        {{#each data}}
                        <tr data-value={{this.offering_id}}>
                            <td>{{this.offering_id}}</td>
                            <td>{{this.stuff}}</td>
                            <td><button class= "delete_button" onclick="deleteOffering({{this.offering_id}})"> - </button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="./js/delete_offering.js"></script>
            </div>
            
        </div>
    </body>
</html>
