<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Offerings Edit Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Offerings Edit
            </h2>
            <div class="create">
                <form>
                    <h3>Create New Data</h3>
                    <div class="u_input">
                        <label>Offering</label>
                        <input>
                        <p>*require</p>
                    </div>
                    
                    
                    <button>Create Data</button>
                </form>
            </div>

            <div class="edit">
                <form>
                    <h3>Edit Existing Data</h3>
                    <div class="u_input">
                        <label>ID(data you edit)</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Offering</label>
                        <input>
                        <p>*require</p>
                    </div>
                    
                    
                    <button>Edit Data</button>
                </form>
            </div>
            
            
            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Offering</th>

                        <th>Delete</th>
                        
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Money</td>

                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Balls</td>
                        
                        

                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Socks</td>
                        
                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Volunteers</td>

                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                </table>
            </div>
            
        </div>
        
        


    </body>
</html>