<!DOCTYPE html>>
<html lang="en">
    <head>
        <title>Offerings View Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Offerings View
            </h2>
            
            
            <div>
                <table id="offerings-table">
                    <tr>
                        <th>ID</th>
                        <th>Offering</th>
                    </tr>

                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.offering_id}}>
                            <td>{{this.offering_id}}</td>
                            <td>{{this.stuff}}</td>
                        </tr>

                        {{/each}}
                    </tbody>

                </table>
            </div>
        </div>
    </body>
</html>
