<!DOCTYPE html>>
<html lang="en">
    <head>
        <title>Sponsors Edit Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        
        <div class="contents">
            <h2>
                Sponsors Edit
            </h2>
            <div class="create">
                <form>
                    <h3>Create New Data</h3>
                    <div class="u_input">
                        <label>Sponsor Name</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Offerings ID</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Year</label>
                        <input>
                        <p>*require</p>
                    </div>
                    
                    
                    <button>Create Data</button>
                </form>
            </div>

            <div class="edit">
                <form>
                    <h3>Edit Existing Data</h3>

                    <div class="u_input">
                        <label>ID(data you edit)</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Sponsor Name</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Offerings ID</label>
                        <input>
                        <p>*require</p>
                    </div>
                    <div class="u_input">
                        <label>Year</label>
                        <input>
                        <p>*require</p>
                    </div>
                    
                    
                    <button>Edit Data</button>
                </form>
            </div>
            
            
            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Sponsor Name</th>
                        <th>Offerings</th>
                        <th>Year</th>

                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yonex</td>
                        <td>2</td>
                        <td>2018</td>

                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Asics</td>
                        <td>3</td>
                        <td>2019</td>

                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>US bank</td>
                        <td>1</td>
                        <td>2021</td>

                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    
                </table>
            </div>
            
        </div>

    </body>
</html>