<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournament View Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Tournaments View
            </h2>
            <!--Filter START-->
            <div class="filter">
                <ul class="filter_list">
                    <div class="single_filter">
                        <li class="filter_name">Year</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    <div class="single_filter">
                        <li class="filter_name">Sponsor Name</li>
                        <ul class="input">
                            <li><input></li>
                        </ul>
                    </div>
                    
                    <li class="filter_name"><button class="filter_button">Filter</button></li>
                    
                </ul>

            </div>
            <!--Filter END-->

            <!--Table START-->
            <div>
                <table>
                    <tr>
                        <th>Year</th>
                        <th>Venue</th>
                        <th>Sponsor Name</th>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>New York Tennis Garden</td>
                        <td>Yonex</td>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>New York Tennis Garden</td>
                        <td>US Bank</td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>California City Park</td>
                        <td>Null</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>Portland Sports Arena</td>
                        <td>Null</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>Los Angeles Tennis Park</td>
                        <td>Null</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Table END-->
        


    </body>
</html>