<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournament View Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="contents">
            <h2>
                Tournaments View
            </h2>
            <!--Filter START-->
            <div class="filter">
                <ul class="filter_list">
                    <div class="single_filter">
                        <li class="filter_name">Year</li>
                            <ul class="input">
                                <li><input></li>
                            </ul>
                    </div>
                    
                    <div class="single_filter">
                        <li class="filter_name">Sponsor Name</li>
                        <ul class="input">
                            <li><input></li>
                        </ul>
                    </div>
                    
                    <li class="filter_name"><button class="filter_button">Filter</button></li>
                    
                </ul>

            </div>
            <!--Filter END-->

            <!--Table START-->
            <div>
                <table id="tournaments-table">
                    <tr>
                        <th>Year</th>
                        <th>Venue</th>
                        <th>Sponsor Name</th>
                    </tr>

                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.year}}>
                            <td>{{this.year}}</td>
                            <td>{{this.venue}}</td>
                            <td>{{this.sponsor_name}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <!--Table END-->
        


    </body>
</html>
