<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournaments Edit Page</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
<!--h1 and menu bar -->
    <body>
        

<!--contents START-->
        <div class="contents">
            <h2>
                Tournaments Edit
            </h2>

            <div class="create">
                
                <form>
                    <h3>Create New Data</h3>
                    <div class="u_input">
                        <label>Year</label>
                        <input>
                        <p>*required</p>
                    </div>

                    <div class="u_input">
                        <label>Venue</label>
                        <input>
                        <p>*required</p>
                    </div>
                    <div class="u_input">
                        <label>Sponsor Name</label>
                        <input>
                    </div>
                    
                    <button>Create Data</button>
                </form>
            </div>

            <div class="edit">
                
                <form>
                    <h3>Edit Existing Data</h3>
                    <div class="u_input">
                        <label>Year</label>
                        <input>
                        <p>*required</p>
                    </div>

                    <div class="u_input">
                        <label>Venue</label>
                        <input>
                        <p>*required</p>
                    </div>
                    <div class="u_input">
                        <label>Sponsor Name</label>
                        <input>
                    </div>
                    
                    <button>Edit Data</button>
                </form>
            </div>
            
            
            <div>
                <table>
                    <tr>
                        <th>Year</th>
                        <th>Venue</th>
                        <th>Sponsor Name</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>New York Tennis Garden</td>
                        <td>Null</td>
                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>California City Park</td>
                        <td>Null</td>
                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>Portland Sports Arena</td>
                        <td>Null</td>
                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>Los Angeles Tennis Park</td>
                        <td>Null</td>
                        <td><button class = "delete_button"> - </button></td>
                    </tr>
                </table>
            </div>
            
        </div>
        
        


    </body>
</html>